
body {
  font-family: 'Didact Gothic', sans-serif;
  background: url("/img/white.jpeg");
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}
/* Portfolio */
#student-feature {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 2fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  width: 100%;
  height: 100vh;
  padding:2%;
}

.designer {
  display: flex;
  align-items: flex-end;
}
#designer{
  display: flex;
  justify-content: flex-end;
  background-color:#F0D194;
  opacity:80%;
  width: 100%;
  height: 5vh;
  font-family: "Nunito", sans-serif;
  padding:1%;
}

.designer:hover {
  color:#F0D194;
}

#focus {
  background: url("/img/showcase.jpg");
  background-size: cover;
  background-position: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  border: 5px solid white;
  display: flex;
}

a{
color:grey;
text-decoration-line: none;
letter-spacing: 1px;
}

#position-one {
  background: url("/img/AR.jpg");
  background-position: center;
  background-size: cover;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  border: 5px solid white;
}
a:hover {
  color: #F0D194
}

#position-two {
  background: url("/img/block.jpg");
  background-position: center;
  background-size: cover;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  border: 5px solid white;
}

#position-three {
  background: url("/img/No8.jpg");
  background-position: center;
  background-size: cover;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  border: 5px solid white;
}

h3{
  font-family: 'Didact Gothic', sans-serif;
  letter-spacing: 1px;
}

h4 {
  font-family: 'Didact Gothic', sans-serif;
  color: grey;
}

/* Pic/Name */
#bio {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.bio {
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: center;
  text-align: left;
  padding: 2%;
  position:relative;
}


img[alt="profpic"] {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 175px;
  height: 300px;
  padding: 2%;
}

#name {
  display: flex;
  justify-content: right;
  font-family: 'PT Sans', sans-serif;
  font-size: 2em;
  color: #474833
}

/* Biography */
#project-detail {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}
#pdetail {
  color: #474833;
  padding: 3%;
  text-align: justified;
}

p{
  text-align: justify;
  font-size: 12pt;
}

/* Contact Form */
h2:hover {
  color:#F09999;
  font-family: 'PT Sans', sans-serif;

}

footer{
  padding:2%;
}

form{
  font:grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  text-align: right;
  padding: 2%;
  position:relative;
}

/* 404 */
img[alt="404"]{
  display:flex;
  justify-content: center;
}